@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
  }
  
  #__next {
    min-height: 100vh;
  }

  body {
    background: linear-gradient(180deg, #FFFCE0 26%, #E6E9FF 100%);
    margin-bottom: 100px;
    /* Hide vertical scrollbar for IE, Edge */
    -ms-overflow-style: none;
    /* Hide vertical scrollbar for Firefox */
    scrollbar-width: none;
  }
  
/* Hide vertical scrollbar for Chrome, Safari */
body::-webkit-scrollbar { width: 0 !important }


h1 {
    text-align: left;
    font-size: 70px;
    line-height: 85px;
    color: #225A44
}

h2 {
    font-size: 28px;
    margin: 0;
    color: #1B1A17;
}

p {
    margin: 0;
}

a {
    color: #225A44;
}

a:hover {
  color: #000000;
}

svg {
    fill: #1B1A17
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 13vw;
  margin-top: 40px;
  width: 100%;
  max-width: 2000px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

.nav-links a {
  color: #1B1A17;
  font-size: 20px;
  padding: 5px 12px;
  border-radius: 15px;
}

.nav-links a.active {
  color: #FFFCE0;
  background-color: #FF9839;
}

.nav-links a:hover {
  color: #FFFCE0;
  background-color: #2B8766;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

#resume {
  color: #1B1A17;
  font-size: 22px;
}

#github {
  width: 50px;
}

#linkedin {
  width: 50px;
}

#resume:hover {
  color: #225A44;
}


#github:hover {
  fill: #FF9839;
}

#linkedin:hover {
  fill: #2D29D0;
}

@media only screen and (min-width: 1801px){ 

  .nav-bar {
    padding: 0px 400px;
}
}

@media only screen and (max-width: 1200px) and (min-width: 1101px){ 

  .nav-bar {
    padding: 0px 8vw;
}
}


@media only screen and (max-width: 900px){ 

  .nav-bar {
    padding: 0px 10vw;
  }

  .nav-links {
    gap: 30px;
  }

  .nav-icons {
    gap: 35px;
  }
}

@media only screen and (max-width: 700px){ 

  .nav-bar {
    padding: 0px 9vw;
  }

  .nav-links {
    gap: 20px;
  }

  .nav-icons {
    gap: 30px;
  }
}

@media only screen and (max-width: 650px){ 

  .nav-bar {
    padding: 0px 40px;
  }

  .nav-links  a {
    font-size: 18px;
  }

  .nav-links {
    gap: 15px;
  }

  .nav-icons {
    gap: 25px;
  }

  #github {
    width: 45px;
  }
  
  #linkedin {
    width: 45px;
  }

  h1 {
    line-height: 130%;
  }
}

@media only screen and (min-width: 551px) and (max-width: 650px){ 

  h1 {
    font-size: 11vw;
  }

}


@media only screen and (max-width: 550px){ 

  .nav-bar {
    padding: 0px 25px;
  }

  .nav-icons {
    gap: 20px;
  }

  #github {
    width: 40px;
  }
  
  #linkedin {
    width: 40px;
  }
  h1 {
    font-size: 11vw;
  }

}

@media only screen and (max-width: 450px){ 

  .nav-bar {
    padding: 0px 15px;
    margin-top: 30px;
  }

  .nav-links  a {
    font-size: 16px;
  }

  #resume {
    font-size: 18px;
  }

  .nav-icons {
    gap: 20px;
  }

  #github {
    width: 35px;
  }
  
  #linkedin {
    width: 35px;
  }

}

/* New menu? */

@media only screen and (max-width: 360px){ 

  .nav-bar {
    padding: 0px 15px;
    margin-top: 30px;
  }

  .nav-links  a {
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 15px;
  }

  #resume {
    font-size: 16px;
  }

  .nav-links {
    gap: 10px;
  }

  .nav-icons {
    gap: 15px;
  }

  #github {
    width: 30px;
  }
  
  #linkedin {
    width: 30px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

}


@media only screen and (min-width: 361px) and (max-width: 450px){ 

  p {
    font-size: 15px;
  }


}

@media only screen and (max-width: 450px){ 

  h2 {
    font-size: 26px;
  }




}